.checked {
  color: orange;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /* width: 40%; */
  max-width: 500px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.format {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #007185;
}

.author {
  font-size: 14px;
  line-height: 20px;
  color: #007185;
}

.bookName {
  color: #0F1111;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
}

.price {
  color: #B12704;
  font-size: 21px;
  line-height: normal;
}


.reviewers {
  font-size: 14px;
  line-height: 20px;
  color: #007185;
  margin-left: 20px;
}

.bookList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}